.vscode/
OBF/
go/
goprojects/
__recovery/
www/
__history/
OKPParting/
Inform/
SIPPhoneEx/
SIPInside/
test/
DocumentBuilder/
Python38/
Telegram бот на Delphi_files/
Bolnica/
toggplayer/
player/
OggPlayer/
newac-master/
DevExpress VCL Demos/
DevExpress VCL 15.2.2 Full Source XE10.1/
delphi_vl/
PythonDev/
MySQL Datafiles/
ASJavaMobile/
Csh/
Project1.identcache
Project1.dproj.local
ProjectGroup1_prjgroup.tvsconfig
toggplayer.zip
acs24.zip
delphi_vl.zip
newac-master.zip
flag10s.ogg